.mainpage-background{
    padding: 0px 20px;
    background-color: #f5f5f5;
}
.bookinfo-background{
    padding: 0px 100px;
    background-color: #f5f5f5;
}
.order-background{
    padding: 10px 100px;
    background-color: #f5f5f5;
}